p {
  border: 3px solid #7c7c7c;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
}

ul {
  background: #7c7c7c;
  padding: 10px;
}

ul li {
  background: #7c7c7c;
  padding: 5px;
  border: solid 2px white;
  display: inline-block;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #C0C0C0;
}
  